<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MediHelp - Admin Panel</title>
  <link rel="icon" href="/frontend/images/favicon.ico" type="image/png" />
  <link href="http://fonts.googleapis.com/css?family=Lato:300,800" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/frontend/styles/admin.css" />
  <script type="module" src="/frontend/scripts/admin.js"></script>
</head>

<body>
  <div id="main-container">
    <div id="navbar-container"></div>
    <div id="admin-container"></div>
    <div id="ailments-container"></div>
    <div id="questions-container"></div>
    <div id="criteria-container"></div>
    <div id="products-container"></div>
  </div>
</body>

</html>