<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediHelp</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/frontend/styles/index.css" />
    <script src="/frontend/scripts/app.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div id="ailment-container" class="ailment-container">
        <a href style="text-decoration: none;">
          <h1 id="title" class="title">MediHelp</h1>
        </a>
        <div id="navbar" class="navbar"></div>
        <p id="ailment-description" class="ailment-description"></p>
        <p id="ailment-disclaimer" class="ailment-disclaimer"></p>
      </div>
      <div id="questions-container" class="questions-container">
        <h2 id="question" class="question"></h2>
        <button id="true-button" class="true-button">Yes</button>
        <button id="false-button" class="false-button">No</button>
        <button id="previous-button" class="previous-button">Previous</button>
      </div>
      <div id="products-container" class="products-container"></div>
    </div>
  </body>
</html>
