<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medihelp - Login</title>
    </head>
    <body>
        <form action="/">
            Username: <input id="username-entry" type="text" name="uname"><br><br>
            Password: <input id="password-entry" type="password" name="psw"><br><br>
            <input type="checkbox" onclick="myFunction()">Show Password<br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
