<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediHelp - Login</title>
    <link rel="icon" href="/frontend/images/favicon.ico" type="image/png" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:300,800"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/frontend/styles/login.css" />
    <script type="module" src="/frontend/scripts/login.js"></script>
  </head>

  <body>
    <div id="main-container">
      <div id="login-container">
        <h1 id="promt" href style="text-decoration: none">Sign In</h1>
        <a href="https://www.facebook.com/" target="_blank">
          <div id="facebook-icon" class="social-icon">
            <img
              class="social-image"
              src="/frontend/images/facebook-icon.png"
            />
          </div>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <div id="twitter-icon" class="social-icon">
            <img class="social-image" src="/frontend/images/twitter-icon.png" />
          </div>
        </a>
        <p id="username-label" class="login-label">USERNAME</p>
        <input id="username-input" class="login-input" type="text" name="username" placeholder="Username"/>
        <p id="password-label" class="login-label">PASSWORD</p>
        <input id="password-input" class="login-input" type="password" name="" placeholder="Password"/>
        <button id="signin-button" type="submit">Sign In</button>
      </div>
      <div id="content-container"></div>
    </div>
  </body>
</html>
