.AdminView {
    position: absolute;
    top: 10%;
    left: 10%;

    box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.4);
    width: 80%;
    height: 80%;
}

.AdminTaskbar {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 20%;
    height: 100%;

    background-color: white;
}

.AdminTaskbar>#header {
    border-bottom: 0.2em solid var(--tertiary);
    margin: 2em 1em;
    padding-bottom: 0;
}

.AdminTaskbar>#header>#toggle {
    user-select: none;
    cursor: pointer;

    float: right;

    margin: auto;
    width: 1.6em;
    height: 1.6em;
}

.AdminTaskbar>#header>a {
    text-decoration: none;
    color: black;
}

.AdminTaskbar>#header>a>h2 {
    text-decoration: none;
    color: black;

    margin-bottom: 0;
}

.AdminTaskbar>#header>p {
    margin-top: 0.2em;
    margin-bottom: 0.4em;

    font-size: small;
}

.AdminTaskbar .TaskButtons {
    display: flex;
    align-items: center;

    height: 2.4em;
}

.AdminTaskbar .TaskButtons:hover {
    background-color: var(--secondary);
}

.AdminTaskbar .TaskButtons:active {
    background-color: var(--tertiary);
}

.AdminTaskbar .selected {
    border-left: 0.2em solid var(--tertiary);

    background-color: var(--secondary);
}

.AdminTaskbar>.TaskButtons>img {
    user-select: none;
    
    margin: auto 0.4;
    width: 1em;
    height: 1em;
    padding-left: 0.4em;
    padding-right: 0.2em;
}

.AdminTaskbar>.TaskButtons>h3 {
    user-select: none;

    margin: auto 0.4;
    padding-left: 0.4em;

    font-weight: lighter;
}

.UsersView {
    position: absolute;
    top: 0%;
    left: 20%;

    overflow-y: auto;

    width: 80%;
    height: 100%;

    background: linear-gradient(140deg, var(--tertiary) 0%, var(--primary) 50%);
}

.UserContainer>input {
    margin-top: 0.4em;
    margin-left: 0.4em;
    max-width: min-content;
    height: 1.6em;
  
    text-indent: 5%;
}

.UserContainer>input[type=number] {
    width: 2.5em;
}