.MedihelpView {
    position: absolute;
    top: 10%;
    left: 10%;

    overflow-y: auto;

    box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.4);
    width: 80%;
    height: 80%;
}

.MedihelpView::-webkit-scrollbar {
    display: none;
}

.AilmentsView {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 50%;
    height: 100%;

    background-color: white;
}

.AilmentsView h1 {
    padding-top: 1em;
    padding-left: 1.5em;
}

.AilmentsView h1>a {
    text-decoration: none;

    font-size: 1.4em;
    font-weight: lighter;
    color: black;
}

.AilmentsView #description {
    margin-top: 0;
    padding-left: 2.2em;
    padding-right: 2.2em;

    font-size: x-large;
}

.AilmentsView #disclaimer {
    position: absolute;
    bottom: 0;

    padding: 1em 3em;
}

.AilmentNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5em;
    padding-top: 2em;
    padding-left: 2.4em;
    padding-right: 2.4em;
}

.AilmentNavbar button {
    cursor: pointer;

    border-color: transparent;
    background-color: transparent;

    font-size: 1em;
    font-family: var(--font-family);
    color: var(--tertiary);
}

.AilmentNavbar .selected {
    font-size: 1.4em;
    font-weight: bold;
    color: var(--primary);
}

.AilmentNavbar button>img {
    cursor: pointer;

    width: 1.4em;
    height: 1.4em;
}

.QuestionsView, .ProductsView  {
    position: absolute;
    top: 0%;
    left: 50%;

    overflow-y: auto;

    width: 50%;
    height: 100%;

    background: linear-gradient(140deg, var(--tertiary) 0%, var(--primary) 50%);
}

.QuestionsView button, .ProductsView button {
    border: 1px solid white;
    border-radius: 99em;
    margin: 1em;
    padding: 0.5em 1em;
    aspect-ratio: 5;

    background-color: transparent;

    font-size: large;
    font-family: var(--font-family);
    color: white;
}

.QuestionsView button:hover, .ProductsView button:hover {
    background-color: var(--tertiary);
}
.QuestionsView button:active, .ProductsView button:active  {
    background-color: var(--secondary);
}

.QuestionsView #submit, .ProductsView #back {
    cursor: pointer;

    z-index: 1;

    position: sticky;
    top: 1em;
    left: 0%;

    margin: 1em;

    background-color: var(--tertiary);
}

.QuestionContainer, .ProductContainer {
    position: relative;

    border-bottom: 0.2em solid var(--tertiary);
    margin: auto;
    width: 80%;
    padding: 2em;

    font-weight: lighter;
    color: white;
}

.QuestionContainer {
    text-align: center;
}

.QuestionContainer #prompt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.QuestionContainer #hint {
    margin-bottom: 4em;
    aspect-ratio: 1;

    font-size: xx-small;
}

.QuestionContainer #tooltip {
    display: none;

    box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
    padding: 1em;

    background-color: white;

    color: black;
}

.QuestionContainer .selected {
    background-color: var(--tertiary);
}

.ProductContainer #logo {
    position: relative;
    top: -0.5em;
    left: -1em;

    float: left;

    border: 1px solid white;
    border-radius: 99em;
    width: 8em;
    height: 8em;
}

.ProductContainer #logo>img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 80%;
}

.ProductContainer #logo>#url>button {
    cursor: pointer;

    position: absolute;
    top: 55%;
    left: 55%;

    width: 2em;
    padding: 0%;
    aspect-ratio: 1;

    background-color: var(--tertiary);
}

.ProductContainer #logo>#url>button>img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 60%;

    filter: invert(100%);
}

.ProductContainer>#description {
    padding-bottom: 1em;
}

.ProductContainer #links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.ProductContainer #links>a {
    margin: 0.5em;

    text-decoration: none;
    color: white;
}

.ProductContainer #links>a>div {
    display: flex;
    align-items: center;

    border-radius: 0.4em;
    height: 2em;
}

.ProductContainer #links>a>div>img {
    margin: auto 0.4;
    width: 1em;
    height: 1em;
    padding-left: 0.6em;
    padding-right: 0.2em;

    filter: invert(100%);
}

.ProductContainer #links>a>div>p {
    margin: auto 0.4;
    padding-left: 0.2em;
    padding-right: 0.6em;
}

@media only screen and (max-width: 1080px), 
            screen and (max-height: 720px) {
    .MedihelpView {
        top: 0%;
        left: 0%;

        width: 100%;
        height: 100%;
    }

    .AilmentsView {
        position: sticky;
        top: 0%;

        width: 100%;
        height: fit-content;
        padding-bottom: 0%;
    }

    .AilmentsView>h1 {
        margin-top: 0%;
        padding-top: 1em;
        padding-left: 1.2em;

        font-size: x-large;
    }

    .AilmentsView>#description {
        padding-left: 2em;
        padding-right: 2em;

        font-size: large;
    }


    .AilmentsView>#disclaimer {
        position: relative;

        margin-bottom: 0%;
        padding-top: 4em;
        padding-bottom: 2em;
        padding-left: 2em;
        padding-right: 2em;
    }

    .AilmentNavbar {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .AilmentNavbar>button {
        font-size: .8em;
    }

    .AilmentNavbar>.selected {
        font-size: 1.2em;
    }

    .QuestionsView, .ProductsView {
        position: relative;
        left: 0%;

        width: 100%;
    }

    .QuestionsView #submit, .ProductsView #back {
        cursor: pointer;
    
        z-index: 1;
    
        position: fixed;
        top: calc(100vh - 5em);

        width: 5em;
    }
  }