<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/frontend/public/images/favicon.ico" />
    <link rel="stylesheet" href="/frontend/public/styles/root.css" />
    <link rel="stylesheet" href="/frontend/public/styles/admin.css" />
    <link rel="stylesheet" href="/frontend/public/styles/login.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,800" />
    <script type="module" src="/frontend/components/admin-view/admin-view.js"></script>
    <title>Medihelp</title>
</head>

<body>
    <admin-view></admin-view>
</body>

</html>