:root {
  --primary: #667999;
  --secondary: #e0e4eb;
  --tertiary: #9ca9bb;
  --flat: #ffffff;
  --mono: #d9d9d9;

  --tiny: min(0.75vw, 0.8rem);
  --small: min(1vw, 1.25rem);
  --medium: min(1.75vw, 2rem);
  --large: min(2vw, 2.25rem);
  --extra-large: min(2.75vw, 3rem);

  --default-font: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--tertiary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--flat);
}

body {
  background: linear-gradient(250deg, var(--secondary) -20%, var(--tertiary) 20%, var(--tertiary) 80%, var(--secondary) 120%);

  font-family: Tahoma;
}

#main-container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.2);
  width: 83%;
  max-width: 96em;
  height: 83%;
  max-height: 54em;

  background-color: transparent;
}

#ailment-container {
  position: absolute;
  top: 0%;
  left: 0%;

  width: 50%;
  height: 100%;

  background-color: var(--flat);
}

#title {
  position: absolute;
  top: 14%;
  left: 8%;

  font-size: var(--extra-large);
  font-family: var(--default-font);
  font-weight: lighter;
  color: black;
}

.social-icon {
  position: absolute;

  border: 1px solid var(--mono);
  border-radius: 99em;
  aspect-ratio: 1;
  width: 2em;
}

.social-icon:hover {
  background-color: var(--secondary);
}

.social-icon:active {
  background-color: var(--tertiary);
}

#facebook-icon {
  top: 14%;
  right: 10%;

  transform: translateX(-150%);
}

#twitter-icon {
  top: 14%;
  right: 10%;
}

.social-image {
  position: absolute;
  top: 14%;
  left: 14%;

  width: 72%;
  height: 72%;
}

#navbar {
  position: absolute;
  top: 30%;
  left: 8%;

  display: flex;

  white-space: nowrap;
}

.nav-option {
  cursor: pointer;

  margin-top: auto;
  margin-bottom: 0.3em;
  margin-right: 20px;

  font-size: var(--small);
  font-family: var(--default-font);
  font-weight: bolder;
  color: var(--tertiary);
}

.nav-option-selected {
  cursor: pointer;

  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;

  font-size: var(--large);
  font-family: var(--default-font);
  font-weight: bolder;
  color: var(--primary);
}

#ailment-description {
  position: absolute;
  top: 34%;
  left: 8%;
  
  width: 86%;

  font-size: var(--medium);
  font-family: var(--default-font);
  font-weight: light;
  color: black;
}

#ailment-disclaimer {
  position: absolute;
  bottom: 4%;
  left: 8%;

  width: 84%;

  font-size: var(--tiny);
  font-family: var(--default-font);
  font-weight: light;
  color: black;
}

#questions-container {
  position: absolute;
  top: 0%;
  left: 50%;

  width: 50%;
  height: 100%;

  background: linear-gradient(320deg, var(--primary) 50%, var(--tertiary) 100%);

  text-align: center;
}

#progress-container {
  position: absolute;
  top: 6%;
  left: 20%;

  border-radius: 1em;
  width: 60%;
  height: 2%;

  background-color: var(--tertiary);
}

#progress-bar {
  border-radius: 1em;
  width: 0%;
  height: 100%;

  background-color: var(--flat);
}

#question {
  position: absolute;
  bottom: 50%;
  left: 50%;

  transform: translateX(-50%);

  width: 80%;

  font-size: var(--extra-large);
  font-family: var(--default-font);
  font-weight: bolder;
  color: var(--flat);
}

#question #tooltip-text {
  visibility: hidden;

  position: absolute;
  top: 100%;
  left: 50%;

  transform: translateX(-50%) translateY(0.6em);

  border-radius: 0.2em;
  width: max-content;
  max-width: 60%;
  padding: 1em 2em;

  background-color: var(--flat);

  text-align: center;
  font-size: var(--tiny);
  font-family: var(--default-font);
  font-weight: bolder;
  color: black;
}

#question:hover #tooltip-text {
  visibility: visible;
}

#true-button {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-125%);

  border: 1px solid white;
  border-radius: 99em;
  aspect-ratio: 5/2;
  width: 16%;

  background-color: transparent;

  font-size: var(--small);
  font-family: var(--default-font);
  font-weight: bold;
  color: white;
}

#true-button:hover {
  background-color: var(--tertiary);
}

#true-button:active {
  background-color: var(--secondary);
}

#false-button {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(25%);

  border: 1px solid white;
  border-radius: 99em;
  aspect-ratio: 5/2;
  width: 16%;

  background-color: transparent;

  font-size: var(--small);
  font-family: var(--default-font);
  font-weight: bold;
  color: white;
}

#false-button:hover {
  background-color: var(--tertiary);
}

#false-button:active {
  background-color: var(--secondary);
}

#results-container {
  position: absolute;
  top: 0%;
  left: 50%;

  display: none;

  overflow-y: auto;

  width: 50%;
  height: 84%;

  background: linear-gradient(320deg, var(--primary) 50%, var(--tertiary) 100%);
}

.result-occlusion {
  position: fixed;
  bottom: 0%;
  left: 50%;

  width: 50%;
  height: 16%;

  background-color: var(--primary);
}

.result-container {
  position: relative;

  margin-top: 6%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: min(14vw, 240px);
}

.result-icon {
  position: absolute;
  left: 2%;

  clip-path: circle(100%);

  margin-top: 1%;
  border: 1px solid var(--flat);
  border-radius: 99em;
  aspect-ratio: 1;
  width: 20%;

  background-color: var(--tertiary);
}

.result-image {
  position: absolute;
  top: 50%;
  left: 10%;

  transform: translateY(-50%);

  width: 80%;
  height: auto;
}

.result-button {
  position: absolute;
  left: 12%;

  transform: translateX(-50%);

  border: 1px solid var(--flat);
  border-radius: 99em;
  aspect-ratio: 3;
  width: 16%;

  background-color: transparent;

  text-decoration: none;
  font-size: var(--tiny);
  font-family: var(--default-font);
  font-weight: bold;
  color: white;
}

.result-button:hover {
  background-color: var(--tertiary);
}

.result-button:active {
  background-color: var(--secondary);
}

#result-link {
  margin-top: 24%;
}

#result-add {
  margin-top: 32%;
}

.result-title {
  margin-top: 2%;
  margin-left: 28%;
  margin-right: 0%;

  font-size: var(--large);
  font-family: var(--default-font);
  font-weight: bold;
  color: var(--flat);
}

.result-description {
  margin-left: 28%;
  padding-bottom: 1em;

  font-size: var(--small);
  font-family: var(--default-font);
  font-weight: normal;
  color: var(--flat);
}

.result-seperator {
  position: absolute;
  bottom: 0%;

  border-radius: 99em;
  width: 100%;
  height: 0.1em;

  background-color: var(--tertiary);
}

#back-button {
  cursor: pointer;

  position: absolute;
  left: 75%;
  bottom: 4%;

  transform: translateX(-50%) translateY(-50%);

  border-radius: 99em;
  border-color: transparent;

  background-color: transparent;

  font-size: var(--small);
  font-family: var(--default-font);
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 960px) {
  :root {
    --tiny: min(2vw, 0.8rem);
    --small: min(2.25vw, 1rem);
    --medium: 2.75vw;
    --large: 3.50vw;
    --extra-large: 6vw;
  }

  #main-container {   
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
  }

  #ailment-container {
    width: 100%;
    height: 50%;
  }
  
  #questions-container {
    top: 50%;
    left: 0%;

    width: 100%;
    height: 50%;
  }

  #results-container {
    top: 50%;
    left: 0%;

    width: 100%;
    height: 42%;
  }

  .result-occlusion {
    position: fixed;
    bottom: 0%;
    left: 0%;
  
    width: 100%;
    height: 8%;
  }

  .result-container {
    min-height: 34vw;
  }

  #back-button {
    left: 50%;
    bottom: 2%;
  
    transform: translateX(-50%) translateY(-50%);
  }
}
