body {
  /* background */
  background: #f0f0f0;
}

img {
  /* behaviour */
  user-select: none;
  -webkit-user-drag: none;

  /* position and layout */
  position: absolute;

  /* display and visibility */
  mix-blend-mode: overlay;

  /* clipping */
  overflow: hidden;
}

h1 {
  /* position and layout */
  position: absolute;

  /* typography */
  font-size: 52px;
  font-family: "Segoe UI";
  font-weight: 800;
  font-style: oblique;
  color: #ffffff;
}

h2 {
  /* position and layout */
  position: absolute;

  /* typography */
  font-size: 32px;
  font-family: "Segoe UI";
  font-weight: 700;
  font-style: normal;
  color: #aa8eb7;
}

h3 {
  /* position and layout */
  position: absolute;

  /* box model */
  padding-left: 12px;
  padding-right: 12px;

  /* typography */
  font-size: 28px;
  font-family: "Segoe UI";
  font-weight: 600;
  font-style: normal;
  color: #1e1e1e;
}

p {
  /* position and layout */
  position: absolute;

  /* typography */
  font-size: 26px;
  font-family: "Segoe UI";
  font-weight: 400;
  font-style: normal;
  color: #aa8eb7;
}

/* contianers */

.main-body {
  /* position and layout */
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 2%;
  right: 2%;

  /* box model */
  border-radius: 48px;

  /* background */
  background: #ffffff;
}

.ailment-body {
  /* position and layout */
  position: absolute;
  top: 36px;
  left: 25%;
  right: 25%;
  justify-content: space-between;

  /* display and visibility */
  display: flex;
}

.information-body {
  /* position and layout */
  position: absolute; 
  left: 2%;

  /* box model */
  width: 48%; 
  height: 100%; 
}

.questionaire-body {
  /* position and layout */
  position: absolute; 
  right: 2%;

  /* box model */
  width: 48%; 
  height: 100%; 
}

.question-body {
  /* position and layout */
  position: absolute;
  top: 18%;
  left: calc(40% - 250px);
  align-items: center;

  /* display and visibility */
  display: flex;

  /* box model */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 500px;
  height: 240px;

  /* background */
  background: #ffffff;

  /* typography */
  text-align: center;
}

.products-body {
  /* position and layout */
  position: absolute;
  right: 2%;

  /* display and visibility */
  display: none;

  /* boxx model */
  width: 48%;
  height: 100%;
}

.product-body {
  /* box model */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 80%;
  height: 100px;

  /* background */
  background: #ffffff;
}

.product-icon {
  /* position and layout */
  position: absolute;
  top: 25px;
  left: 25px;

  /* box model */ 
  width: 50;
  height: 50;
}

/* images */

.background-image {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

/* buttons */

.button {
  /* position and layout */
  position: absolute;

  /* box model */
  width: 240px;
  height: 76px;

  /* box model */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: transparent;
  border-radius: 38px;

  /* background */
  background: #ffffff;

  /* typography */
  font-size: 28px;
  font-family: "Segoe UI";
  font-weight: 600;
  font-style: normal;
  color: #1e1e1e;
}

.button:hover {
  /* background */
  background: #cfcfcf;
}

.button:active {
  /* box model */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  /* background */
  background: #f7e4ff;

  /* typography */
  color: #aa8eb7;
}

.arrow-button {
  /* box model */
  margin-top: 5px;
  width: 35px;
  height: 35px;

  /* background */
  background: transparent;
  cursor: default;
}

.small-button {
  /* box model */
  border-color: transparent;
  border-radius: 12px;
  width: fit-content;
  min-width: 112px;
  height: 45px;

  /* background */
  background: transparent;
  background: var(--background-color);

  /* typography */
  font-size: 12px;
  font-family: "Segoe UI";
  font-weight: 400;
  font-style: normal;
  color: #cfcfcf;
  color: var(--color);
}

.small-button:hover {
  /* background */
  background: #fff2d8;

  /* typography */
  color: #ffa800;
}

.small-button:active {
  /* background */
  background-color: #cfcfcf;

  /* typography */
  color: #787878;
}

.tiny-button {
  /* position and layout */
  position: absolute;

  /* box model */
  border-color: transparent;
  border-radius: 16px;
  width: 70px;
  height: 30px;

  /* background */
  background: transparent;

  /* typography */
  font-size: 10px;
  font-family: "Segoe UI";
  font-weight: 600;
  font-style: normal;
  color: #cfcfcf;
}

.tiny-button:hover {
  /* background */
  background: #cfcfcf;

  /* typography */
  color: #787878;
}

.tiny-button:active {
  /* background */
  background: #f7e4ff;

  /* typography */
  color: #aa8eb7;
}
