body {
	background: #f0f0f0;
}

h1 {
	position: absolute;
	
	font-family:'Segoe UI';
	font-style: oblique;
	font-weight: 800;
	font-size: 68px;

	color: #ffffff;
}

h2 {
	position: absolute;
	
	font-family:'Segoe UI';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	
	color: #AA8EB7;
}

h3 {
	position: absolute;

	left: 0%;
	right: 0%;
	padding-left: 10px;
	padding-right: 10px;

	font-family:'Segoe UI';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	
	color: #1E1E1E;
}

p {
	position: absolute;
	
	font-family:'Segoe UI';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	
	color: #AA8EB7;
}

img {
	user-select: none;
	-webkit-user-drag: none;

	position: absolute;

	overflow: hidden;
	mix-blend-mode: overlay;
}

.button {
	position: absolute;
	width: 200px;
	height: 60px;

	font-family:'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;

	color: #1E1E1E;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-color: transparent;
	border-radius: 28px;
}

.button:hover {
	background: #CFCFCF;
}

.button:active {
	color: #AA8EB7;
	background: #F7E4FF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.arrow-button {
	cursor: default;

	width: 35px;
	height: 35px;

	margin-top: 5px;
}

.small-button {
	width: fit-content;
	min-width: 112px;
	height: 45px;

	font-family:'Segoe UI';
	font-style: normal;
	font-weight: 400;
	font-size: 80%;
	
	color: #CFCFCF;
	color: var(--color);
	background: transparent;
	background: var(--background-color);
	border-color: transparent;
	border-radius: 12px;
}

.small-button:hover {
	color: #FFA800;
	background: #FFF2D8;
}

.small-button:active {
	color: #787878;
	background-color: #CFCFCF;
}

.tiny-button {
	position: absolute;
	width: 70px;
	height: 30px;

	font-family:'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;

	color: #CFCFCF;
	background: transparent;
	border-color: transparent;
	border-radius: 16px;
}

.tiny-button:hover {
	color: #787878;
	background: #CFCFCF;
}

.tiny-button:active {
	color: #AA8EB7;
	background: #F7E4FF;
}
